n8n/workflows/product-details-webhook.json
{
  "name": "Product Details Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "product-webhook",
      "name": "Product Details Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "product-details"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.sku}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-sku",
      "name": "Validate SKU",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://backend:8000/products/{{$json.sku}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-product-details",
      "name": "Get Product Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://backend:8000/recommend",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sku",
              "value": "={{$json.sku}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-recommendations",
      "name": "Get Related Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine product details with recommendations and add metadata\nconst productDetails = $input.first().json;\nconst recommendations = $input.last().json;\nconst originalSku = $input.itemMatching(0).json.sku;\n\n// Calculate stock status\nlet stockStatus = 'available';\nif (productDetails.stock_quantity === 0) {\n  stockStatus = 'out_of_stock';\n} else if (productDetails.stock_quantity <= 5) {\n  stockStatus = 'low_stock';\n}\n\nconst response = {\n  product: {\n    ...productDetails,\n    stock_status: stockStatus\n  },\n  related_products: recommendations || [],\n  metadata: {\n    requested_sku: originalSku,\n    timestamp: new Date().toISOString(),\n    recommendations_count: recommendations ? recommendations.length : 0,\n    stock_level: stockStatus\n  },\n  actions: {\n    add_to_cart: productDetails.stock_quantity > 0,\n    request_quote: true,\n    view_similar: recommendations && recommendations.length > 0\n  }\n};\n\nreturn { json: response };"
      },
      "id": "combine-product-data",
      "name": "Combine Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-product",
      "name": "Respond with Product Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Invalid request\", \"message\": \"SKU parameter is required\", \"status\": \"error\"}"
      },
      "id": "sku-error",
      "name": "SKU Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        480
      ]
    }
  ],
  "connections": {
    "Product Details Webhook": {
      "main": [
        [
          {
            "node": "Validate SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate SKU": {
      "main": [
        [
          {
            "node": "Get Product Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Related Products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKU Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Details": {
      "main": [
        [
          {
            "node": "Combine Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Related Products": {
      "main": [
        [
          {
            "node": "Combine Product Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Product Data": {
      "main": [
        [
          {
            "node": "Respond with Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "product-details-webhook",
  "meta": {
    "instanceId": "hsai-n8n"
  },
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "6",
      "name": "products"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "hardware-store"
    }
  ]
}