n8n/workflows/search.json
{
  "name": "search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2c41f93b-61f3-48ba-ba19-b61171395083",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -380,
        80
      ],
      "webhookId": "hardware-search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.body.query}}"
            },
            {
              "name": "limit",
              "value": "={{$json.body.limit || 5}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbc412b1-718f-4238-8273-bdb27d94ccea",
      "name": "Search Hardware",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "e64f6cc1-e124-421d-b838-271e84f88327",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        340,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Invalid request\", \"message\": \"Query parameter is required\"}",
        "options": {}
      },
      "id": "4e3cf4dd-3a13-47bd-aa84-43fa684b30ac",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        60,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.query}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a71fdbb0-7483-42d0-99ad-f888a032f5a1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        20
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Hardware": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Search Hardware",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5b918c9-4c3d-494f-a746-462331d0b54c",
  "meta": {
    "instanceId": "64b7ae8b787535a95cdb5885886ab41716afd4fb5c7985b50ffbd6bbe39db9aa"
  },
  "id": "pdUcHt0i3ko6TWoy",
  "tags": [
    {
      "createdAt": "2025-06-16T15:39:41.197Z",
      "updatedAt": "2025-06-16T15:39:41.197Z",
      "id": "k8CEGaul6HqFZIth",
      "name": "hardware-store"
    }
  ]
}